.row-container {
  margin-left: 30px;
  color: white;
}

.row-title {
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.movie-card {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.2);
  z-index: 100;
}

.movie-poster {
  width: 150px;
  height: 220px;
  border-radius: 4px;
  object-fit: cover;
}

.movie-name {
  margin-top: 5px;
  text-align: center;
  color: #ddd;
}
