/* Main layout */
.admin-container {
  display: flex;
  height: 100vh;
  background-color: #141414;
  color: white;
  overflow: hidden;
}

/* Sidebar */
.admin-sidebar {
  width: 260px;
  background: #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #222;
}

.admin-logo {
  font-size: 22px;
  margin-bottom: 30px;
  color: #e50914;
  font-weight: bold;
}

/* Sidebar menu */
.admin-menu a {
  color: #ccc;
  text-decoration: none;
  font-size: 18px;
  padding: 12px 0;
  display: block;
  transition: 0.3s;
}

.admin-menu a:hover {
  color: white;
  padding-left: 10px;
}

.logout {
  margin-top: 30px;
  color: #e50914 !important;
}

.admin-content {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
}

